@import "tailwindcss";

/* Custom Base Styles for Glass Effect if needed later */
body {
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}